/*CREATING CLASS FOR RELATIVE POSITIONA AND A CLASS TO POSITIONT HE CHILD ELEMENT IN THE CENTER OF ITS PARENT DIV*/
.column-list-border-top {
  padding-top: 132px;
  width: 59%;
  margin-left: 15%;
  list-style: none;
}

.column-list-border-top li {
  border-top: 1px solid #a0b9ad;
  padding: 24px 0 20px 0;
  margin: 0;
}

.column-list-border-bottom {
  padding-top: 64px;
  margin: 0;
  list-style: none;
  overflow: hidden;
}

.column-list-border-bottom li {
  border-bottom: 1px solid #d9e3dc;
  padding: 1.5em 10% 1.5em 0;
  margin: 0 30% 0 15%;
  color: #c0cac3;
  width: 59%;
  font-family: "Libre Baskerville", sans-serif;
}

.column-list-border-bottom li p {
  margin: 0;
}

.column-list-border-bottom li p a {
  color: #616857;
  font-size: 0.9em;
  text-decoration: none;
  font-weight: 700;
}

.column-list-border-bottom li p a:hover {
  color: #1a5952;
}

.inline-list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0 15em;
}

.wrapper {
  padding: 64px 95px 64px 190px;
}

.relative {
  position: relative;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (min-width: 1441px) {
  .col-lg-1 {
    flex-basis: 8.3333%;
  }

  .col-lg-2 {
    flex-basis: 16.66667%;
  }

  .col-lg-3 {
    flex-basis: 25%;
  }

  .col-lg-4 {
    flex-basis: 33.333%;
  }

  .col-lg-5 {
    flex-basis: 41.66667%;
  }

  .col-lg-6 {
    flex-basis: 50%;
  }

  .col-lg-7 {
    flex-basis: 58.3333%;
  }

  .col-lg-8 {
    flex-basis: 66.66667%;
  }

  .col-lg-9 {
    flex-basis: 75%;
  }

  .col-lg-10 {
    flex-basis: 83.3333%;
  }

  .col-lg-11 {
    flex-basis: 91.666%;
  }

  .col-lg-12 {
    flex-basis: 100%;
  }
}
@media only screen and (max-width: 1440px) {
  .col-lg-1 {
    flex-basis: 8.3333%;
  }

  .col-lg-2 {
    flex-basis: 16.66667%;
  }

  .col-lg-3 {
    flex-basis: 25%;
  }

  .col-lg-4 {
    flex-basis: 33.333%;
  }

  .col-lg-5 {
    flex-basis: 41.66667%;
  }

  .col-lg-6 {
    flex-basis: 50%;
  }

  .col-lg-7 {
    flex-basis: 58.3333%;
  }

  .col-lg-8 {
    flex-basis: 66.66667%;
  }

  .col-lg-9 {
    flex-basis: 75%;
  }

  .col-lg-10 {
    flex-basis: 83.3333%;
  }

  .col-lg-11 {
    flex-basis: 91.666%;
  }

  .col-lg-12 {
    flex-basis: 100%;
  }
}
@media only screen and (max-width: 1200px) {
  .col-md-1 {
    flex-basis: 8.3333%;
  }

  .col-md-2 {
    flex-basis: 16.66667%;
  }

  .col-md-3 {
    flex-basis: 25%;
  }

  .col-md-4 {
    flex-basis: 33.333%;
  }

  .col-md-5 {
    flex-basis: 41.66667%;
  }

  .col-md-6 {
    flex-basis: 50%;
  }

  .col-md-7 {
    flex-basis: 58.3333%;
  }

  .col-md-8 {
    flex-basis: 66.66667%;
  }

  .col-md-9 {
    flex-basis: 75%;
  }

  .col-md-10 {
    flex-basis: 83.3333%;
  }

  .col-md-11 {
    flex-basis: 91.666%;
  }

  .col-md-12 {
    flex-basis: 100%;
  }
}
@media only screen and (max-width: 992px) {
  .col-sm-1 {
    flex-basis: 8.3333%;
  }

  .col-sm-2 {
    flex-basis: 16.66667%;
  }

  .col-sm-3 {
    flex-basis: 25%;
  }

  .col-sm-4 {
    flex-basis: 33.333%;
  }

  .col-sm-5 {
    flex-basis: 41.66667%;
  }

  .col-sm-6 {
    flex-basis: 50%;
  }

  .col-sm-7 {
    flex-basis: 58.3333%;
  }

  .col-sm-8 {
    flex-basis: 66.66667%;
  }

  .col-sm-9 {
    flex-basis: 75%;
  }

  .col-sm-10 {
    flex-basis: 83.3333%;
  }

  .col-sm-11 {
    flex-basis: 91.666%;
  }

  .col-sm-12 {
    flex-basis: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .col-xs-1 {
    flex-basis: 8.3333%;
  }

  .col-xs-2 {
    flex-basis: 16.66667%;
  }

  .col-xs-3 {
    flex-basis: 25%;
  }

  .col-xs-4 {
    flex-basis: 33.333%;
  }

  .col-xs-5 {
    flex-basis: 41.66667%;
  }

  .col-xs-6 {
    flex-basis: 50%;
  }

  .col-xs-7 {
    flex-basis: 58.3333%;
  }

  .col-xs-8 {
    flex-basis: 66.66667%;
  }

  .col-xs-9 {
    flex-basis: 75%;
  }

  .col-xs-10 {
    flex-basis: 83.3333%;
  }

  .col-xs-11 {
    flex-basis: 91.666%;
  }

  .col-xs-12 {
    flex-basis: 100%;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
}

/*# sourceMappingURL=grid.css.map */
