
@mixin  row($number_ofcolumns){

  @if($number_ofcolumns == 12){
    .col-12 {
      flex-basis: 99%;
    }
  }
  @if($number_ofcolumns == 11){
    .col-11 {
      flex-basis: 91.666%;
    }
  }
  @if($number_ofcolumns == 10){
    .col-10 {
      flex-basis: 83.3333%;
    }
  }
  @if($number_ofcolumns == 9){
    .col-9 {
      flex-basis: 75%;
    }
  }
  @if($number_ofcolumns == 8){
    .col-8 {
      flex-basis: 66.66667%;
    }
  }
  @if($number_ofcolumns == 7){
    .col-7 {
      flex-basis: 58.3333%;
    }
  }
  @if($number_ofcolumns == 6){
    .col-6 {
      flex-basis: 50%;
    }
  }
  @if($number_ofcolumns == 5){
    .col-5  {
      flex-basis: 41.66667%;
    }
  }
  @if($number_ofcolumns == 4){
    .col-4 {
      flex-basis: 33.333%;
    }
  }
  @if($number_ofcolumns == 3){
    .col-3 {
      flex-basis: 25%;
    }
  }
  @if($number_ofcolumns == 2){
    .col-2{
      flex-basis: 16.66667%;
    }
  }
  @if($number_ofcolumns == 1){
    .col-1{
      flex-basis: 8.3333%;
    }
  }
}

/*CREATING CLASS FOR RELATIVE POSITIONA AND A CLASS TO POSITIONT HE CHILD ELEMENT IN THE CENTER OF ITS PARENT DIV*/
@mixin relative{
  .relative{
    position: relative;
  }
}
@mixin center{
  .center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
}
@include relative;
@include center;
@for $i from 1 through 12 {
  @include row($i);
}

.row{
  display: flex;
}
