@import "reset";
@import "initialization";

.header-bg{
    background-image: url(http://www.csszengarden.com/214/contours@2x.png), url(http://www.csszengarden.com/214/noise.png), url(http://www.csszengarden.com/214/gridlines.png), url(http://www.csszengarden.com/214/huntington.jpg);
    height: 310px;
}

.hd-title::before{
    background-image: url(http://www.csszengarden.com/214/enso.svg);
}

.side-bar{
    position: absolute;
}

footer{
    position: relative;
}
